[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
gym = "*"
ipykernel = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
tensorflow = "*"
atari-py = {path = "./atari-py"}

[dev-packages]

[requires]
python_version = "3.7"
